* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

/* Header */
header {
    background-color: #542583;
    height: 120px; 
    padding-top: 25px; 
    color: #FDB827;  
}

.container {
    margin: 0 100px;
    display: flex;
}
#header .container {
    justify-content: space-between;
    align-items: center;
}

#preco-total {
    font: 400 14px 'Arial';
}

button {
    background-color: #FDB827;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

input {
    border: 2px solid #FDB827;
    padding: 5px 7px;
    border-radius: 8px;
    width: 400px;
}

.logo-nome {
    font: 400 38px 'Arial';
}

/* Main */
main {
    margin: 50px;
}

img {
    width: 100%;
    height: auto;
}

.nome-secao{
    font: 400 24px 'Arial';
    text-align: center;
}

.produto {
    border: black 1px solid;
    margin: 20px;
}

.infos {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font: 400 14px 'Arial';
}

#main .container {
    flex-direction: column;
}
.produto-linha {
    display: flex;
    justify-content: space-between;
}

#carrinho-icon img {
    width: 50px;
    height: auto;
    margin-top: 10px;
}
#carrinho-icon {
    display: flex;
}
.produto img{
    width: 250px;
    height: 250px;
}